.tree-item:hover {
  background-color: #87ceeb;
  cursor: pointer;
}

.toggle-icon {
  display: inline-block;
}
.toggle-icon-symbol {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}

.tree-item-group {
  list-style-type: none;
}

.tree-item {
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  color: #333;
  background: none;
}
.tree-item--active {
  font-weight: bold;

  color: white;
  background: #179ed3;
  border-bottom: none;
}
.tree-item--focused {
  z-index: 999;
}

.search {
  padding: 0.7rem 0.6rem;
  border: none;
  width: 100%;
  font-size: 1em;
}
