.tree-item {
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  color: #333;
  background: none;
  &:hover {
    background-color: $hoverColor;
    cursor: pointer;
  }
  &--active {
    font-weight: bold;
    font-style: italic;
    color: white;
    background: $activeColor;
    border-bottom: none;
  }
  &--focused {
    z-index: 999;
  }
  &-group {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
  }
}

.toggle-icon {
  display: inline-block;
  &-symbol {
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
  }
}

.search {
  border: none;
  width: 100%;
  font-size: 1.3em;
  font-style: italic;
}
