.selectorsHeadLine {
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
}

.selectors {
  padding: 4px 10px;
  margin: 4px 10px;
  font-family: open-sans;
}

.selectorMulti {
  font-family: open-sans;
  font-size: 1em;
}
