@import "./_variables";

@import "./_menuTree";
@import "./_selectors";

.app {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
}

.noData {
  font-style: italic;
  font-size: 1.1em;
  color: $primaryColor;
}

.headLine {
  padding: 8px;

  font-weight: bold;
  font-size: 1.5em;
  color: $primaryColor;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $primaryColor;
  margin: 1em 0;
  padding: 0;
}
.footer {
  text-align: center;
  color: $primaryColor;
  font-family: "Open Sans", sans-serif;
}

input[type="text"],
select {
  width: 90%;
  padding: 8px 20px;
  margin: 8px 20px;
  display: inline-block;
  border: 1px solid $primaryColor;
  border-radius: 4px;
  box-sizing: border-box;
}

.selectors {
  padding: 4px 10px;
  margin: 4px 10px;
}
