@import "./_variables";

@import "./_menuTree";
@import "./_selectors";

.App {
  text-align: center;
}

.noData {
  font-style: italic;
  font-size: 1.1em;
  color: $primaryColor;
}

.headLine {
  font-weight: bold;
  font-size: 1.5em;
  color: $primaryColor;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $primaryColor;
  margin: 1em 0;
  padding: 0;
}
.footer {
  text-align: center;
  color: $primaryColor;
}
